---
import { getI18N, getLangFromUrl } from "@/i18n";
import CardFlip from "../CardFlip.astro";
import TextColor from "../TextColor.astro";
import GithubIcon from "@/icons/GithubIcon.astro";
import Button from "../Button.astro";
import { Image } from "astro:assets";

import Spotify from "./../../../public/spotifyClone.webp";
import SpaceInvaders from "./../../../public/spaceInvaders.webp";

interface Props {
    id: string;
    imageUrl: string;
    title: string;
    content: string;
    commingSoon?: boolean;
    githubUrl: string;
    appUrl?: string;
}

const {
    id,
    imageUrl,
    title,
    content,
    commingSoon = false,
    githubUrl,
    appUrl,
} = Astro.props;

// const { currentLocale } = Astro;

const url = Astro.request.url;
const currentLocale = getLangFromUrl(new URL(url));

const i18n = getI18N({ currentLocale });

const isSpotify = title === "Spotify Clone";
---

<CardFlip id={id} effectEnable={!commingSoon}>
    <div class="h-full w-full" slot="front">
        <div class="h-full w-full block bg-background-500">
            <div
                class="relative overflow-hidden h-1/3 w-full flex justify-center"
            >
                {
                    commingSoon ? (
                        <div
                            class={`w-full h-full`}
                            style={{
                                background: `url("${imageUrl}");`,
                                backgroundSize: "contain;",
                                backgroundRepeat: "no-repeat;",
                                backgroundPosition: "center;",
                            }}
                        >
                            <div class="w-full h-full flex justify-center items-center backdrop-blur-sm">
                                <TextColor className="text-lg">
                                    {i18n.PROJECTS.COMMING_SOON_TEXT}
                                </TextColor>
                            </div>
                        </div>
                    ) : (
                        <>
                            {isSpotify ? (
                                <Image
                                    class="w-full h-full object-cover object-center"
                                    src={Spotify}
                                    alt={title}
                                />
                            ) : (
                                <Image
                                    class="w-full h-full object-cover object-center"
                                    src={SpaceInvaders}
                                    alt={title}
                                />
                            )}
                        </>
                    )
                }
            </div>
            <div class="p-6">
                <h3 class="text-center mb-4 font-bold text-lg">{title}</h3>
                <p class="text-base text-neutral-200">
                    {content}
                </p>
            </div>
        </div>
    </div>
    <div
        class="h-full w-full flex flex-col items-center px-10 py-5 bg-background-500"
        slot="back"
    >
        <div class="flex flex-col items-center flex-0 mb-5 gap-2">
            <span>{i18n.PROJECTS.GITHUB_MORE_INFO}</span>
            <GithubIcon
                gradientName="github-gradient-dark"
                href={githubUrl}
                target="_blank"
                className="flex w-14"
                from_color="#A855F6"
                to_color="#3b82f6"
            />
            <!-- <GithubIcon
                gradientName="github-gradient-light"
                href={githubUrl}
                target="_blank"
                className="flex dark:hidden w-14"
                from_color="#A855F6"
                to_color="#f87171"
            /> -->
        </div>
        <div class="flex flex-col items-center gap-4">
            {
                appUrl && (
                    <>
                        <span>{i18n.PROJECTS.APP_MORE_INFO}</span>
                        <Button href={appUrl} target="_blank">
                            {i18n.PROJECTS.APP_BUTTON_TEXT}
                        </Button>
                    </>
                )
            }
        </div>
    </div>
</CardFlip>
