---
interface Props {
    desc?: string | undefined;
    href?: string | undefined;
    target?: string | undefined;
    className?: string | undefined;
    ariaLabel: string;
}

const { desc, href, target, className, ariaLabel } = Astro.props;
---

<a
    href={href}
    target={target}
    class={`flex flex-col items-center group ${className}`}
    aria-label={ariaLabel}
>
    <slot />
    {
        desc && (
            <span
                class={`bg-clip-text bg-gradient-to-r sm:group-hover:from-purple-500 sm:group-hover:to-blue-500 sm:group-hover:text-transparent text-3xl sm:text-xl
                `}
            >
                {desc}
            </span>
        )
    }
</a>
