---
import ImageCircule from "@/components/ImageCircle.astro";
import { getI18N, getLangFromUrl } from "@/i18n";
import Button from "../Button.astro";
import TextColor from "../TextColor.astro";

// const { currentLocale } = Astro;

const url = Astro.request.url;
const currentLocale = getLangFromUrl(new URL(url));

const i18n = getI18N({ currentLocale });

const baseUrl = url.replace(/(es|en)(.*)$/, "");
const baseUrlWithLocale = baseUrl + currentLocale;
---

<section
    class="flex h-full w-full items-center md:items-start lg:items-center justify-center pt-0 md:pt-20 lg:pt-0"
>
    <div
        class="flex flex-col-reverse lg:flex-row w-full lg:max-w-[980px] mx-10"
    >
        <div class="flex flex-col items-center lg:items-start">
            <span class="text-lg">
                {i18n.HOME.GREETING}
            </span>
            <p
                class="text-2xl sm:text-3xl font-extrabold my-4 text-center lg:text-left"
            >
                {i18n.HOME.PROFESSION[1]}
                <TextColor>
                    {i18n.HOME.PROFESSION[2]}
                </TextColor>
                {i18n.HOME.PROFESSION[3]}
            </p>
            <p
                class="text-neutral-400 text-base text-wrap max-w-[480px] lg:max-w-none"
            >
                {i18n.HOME.DESCRIPTION}
            </p>

            <div
                class="w-full flex justify-center lg:justify-start gap-5 my-10"
            >
                <Button className="" href={`${baseUrlWithLocale}/career`}>
                    {i18n.HOME.CAREER}
                </Button>
                <Button href={`${baseUrlWithLocale}/projects`}>
                    {i18n.HOME.PROJECTS}
                </Button>
            </div>
        </div>
        <div class="mx-10 flex justify-center">
            <ImageCircule src={baseUrl + "bruno_pons.jpg"} />
        </div>
    </div>
</section>
