---
import LayoutContent from "@/layouts/LayoutContent.astro";
import SubTitle from "../SubTitle.astro";
import TextColor from "../TextColor.astro";
import { getI18N, getLangFromUrl } from "@/i18n";
import BorderEffect from "../BorderEffect.astro";
import ContactForm from "./ContactForm";

// const { currentLocale } = Astro;

const url = Astro.request.url;
const currentLocale = getLangFromUrl(new URL(url));

const i18n = getI18N({ currentLocale });
---

<LayoutContent>
    <div
        class="grow flex flex-col justify-start items-center w-full gap-10 px-10"
    >
        <SubTitle>
            <TextColor>
                {i18n.CONTACT.TITLE[1]}
            </TextColor>
            {i18n.CONTACT.TITLE[2]}
        </SubTitle>

        <BorderEffect
            classListBorder="mb-10 sm:max-w-[560px]"
            classListContent="bg-background-100/10"
        >
            <ContactForm
                fields={i18n.CONTACT.FIELDS.map((field) => ({
                    id: field.ID,
                    label: field.LABEL,
                    autocomplete: field.AUTOCOMPLETE,
                    type: field.TYPE as "textarea" | "email" | null | undefined,
                    required: field.REQUIRED,
                    errors: field.ERRORS,
                }))}
                submitError={i18n.CONTACT.SUBMIT_ERROR}
                submitSuccess={i18n.CONTACT.SUBMIT_SUCCESS}
                sendText={i18n.CONTACT.SEND_TEXT}
                client:load
            />
        </BorderEffect>
    </div>
</LayoutContent>
