---
interface Props {
    id: string;
    label: string;
    autocomplete: string;
    type?: "email" | null | undefined;
    required?: boolean;
}

const { id, label, autocomplete, type, required } = Astro.props;
---

<div class="flex flex-col w-64">
    <label class="mb-2 text-neutral-100" for={id}>
        {label}
        {required && <span class="text-red-500">*</span>}
        :
    </label>
    <input
        id={id}
        name={id}
        type={type ?? "text"}
        autocomplete={autocomplete}
        class="focus:outline-none bg-background-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-background-400 dark:border-background-600 dark:placeholder-neutral-400 dark:text-neutral-100 dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required={required}
        placeholder={label}
    />
</div>
