---
import { getI18N, getLangFromUrl } from "@/i18n";
import MyName from "../MyName.astro";
import DropDownMenuLinks from "./DropDownMenuLinks.astro";
import DropDownMenuSettings from "./DropDownMenuSettings.astro";
import Link from "./Link.astro";
import LenguageSwitch from "./lenguageSwitch/LenguageSwitch.astro";
import ChangerColorPrefBtn from "./themeSwitcher/ChangerColorPrefBtn.astro";

// const { currentLocale } = Astro;

const url = Astro.request.url;
const currentLocale = getLangFromUrl(new URL(url));

const baseUrl = url.replace(/(es|en)(.*)$/, "") + currentLocale;

const i18n = getI18N({ currentLocale });
---

<header
    class="w-full sticky bg-background-100 dark:bg-background-600 top-0 transition ease-in-out duration-150 z-30"
>
    <div
        class="w-full h-14 grid grid-cols-12 bg-background-100 dark:bg-background-600 transition ease-in-out duration-150"
    >
        <div
            class="col-span-4 sm:col-span-2 lg:col-span-3 h-full flex items-center justify-center"
        >
            <MyName />
        </div>

        <div
            class="col-span-4 sm:col-span-8 lg:col-span-6 h-full sm:hidden flex items-center justify-center"
        >
            <DropDownMenuLinks />
        </div>
        <div
            id="header-links"
            class="col-span-4 sm:col-span-8 lg:col-span-6 flex flex-col bg-background-200 dark:bg-background-400 w-full h-[calc(100%-3.5rem)] justify-evenly fixed top-0 -translate-y-full -z-30 sm:translate-y-0 sm:h-full sm:bg-transparent sm:dark:bg-transparent sm:static sm:flex sm:flex-row sm:justify-center items-center sm:gap-10 sm:z-0 duration-500 transition-transform"
        >
            <Link href={`${baseUrl}/home`}>Home</Link>
            <Link href={`${baseUrl}/about`}>About</Link>
            <Link href={`${baseUrl}/career`}>Career</Link>
            <Link href={`${baseUrl}/projects`}>Projects</Link>
            <Link href={`${baseUrl}/contact`}>Contact</Link>
        </div>

        <div
            class="col-span-4 sm:col-span-2 lg:col-span-3 h-full lg:hidden flex items-center justify-center"
        >
            <DropDownMenuSettings
                gradientName="settings-gradient-dark"
                className="hidden dark:block"
                from_color="#A855F6"
                to_color="#3b82f6"
            />
            <DropDownMenuSettings
                gradientName="settings-gradient-light"
                className="block dark:hidden"
                from_color="#A855F6"
                to_color="#f87171"
            />
        </div>
        <div
            id="header-settings"
            class={`
            col-span-4 sm:col-span-2 flex flex-col bg-background-200 dark:bg-background-400 w-full h-auto justify-evenly absolute top-0 -translate-y-full transition-transform duration-500 -z-30 gap-10 py-10 sm:flex-row rounded-b-3xl  shadow-black
            
            lg:col-span-3 lg:flex-row lg:translate-y-0 lg:h-full lg:bg-transparent lg:dark:bg-transparent lg:static items-center lg:justify-center lg:z-0 lg:py-0 lg:rounded-none lg:shadow-none
            `}
        >
            <div class="flex flex-col items-center gap-4">
                <span class="lg:hidden">{i18n.SETTINGS.LENGUAGE_SWITCH}</span>
                <LenguageSwitch />
            </div>
            <div class="flex flex-col items-center gap-4">
                <span class="lg:hidden">{i18n.SETTINGS.THEME_SWITCH}</span>
                <ChangerColorPrefBtn cliente:only />
            </div>
        </div>
    </div>
</header>
