---
import "@/styles/global.css";
import Header from "@/components/header/Header.astro";
import { ViewTransitions } from "astro:transitions";
import InfoTag from "./socialMedia/InfoTag.astro";
import SocialMediaPanel from "./socialMedia/SocialMediaPanel.astro";
import GreyPanel from "./GreyPanel.astro";
import Glows from "./Glows.astro";

interface Props {
	title: string;
	cantGlows?: number;
	cantGlowsSm?: number;
}

const { title, cantGlows, cantGlowsSm } = Astro.props;

const url = Astro.request.url;
const baseUrl = url.replace(/(es|en)(.*)$/, "");
---

<!doctype html>
<html class="dark" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio bruno pons" />
		<meta name="author" content="Bruno Pons" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={baseUrl + "/favicon.svg"} />
		<link
			rel="icon"
			type="image/svg+xml"
			href={baseUrl + "/favicon-dark.svg"}
			media="(prefers-color-scheme: dark)"
		/>
		<meta
			name="theme-color"
			media="(prefers-color-scheme: light)"
			content="#f0f0f0"
		/>
		<meta
			name="theme-color"
			media="(prefers-color-scheme: dark)"
			content="#13151A"
		/>
		<meta name="generator" content={Astro.generator} />

		<meta property="og:title" content="Bruno Pons | Software Developer" />
		<meta
			property="og:description"
			content="Bruno Pons | Software Developer | Computer Science Student"
		/>
		<meta
			property="og:image"
			content={`${baseUrl}image_preview_2024.png`}
		/>
		<meta
			property="og:url"
			content="https://bruaguspons.github.io/portfolio/en/home/"
		/>
		<meta property="og:type" content="website" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Bruno Pons | Software Developer" />
		<meta
			name="twitter:description"
			content="Bruno Pons | Software Developer | Computer Science Student"
		/>
		<meta
			name="twitter:image"
			content={`${baseUrl}image_preview_2024.png`}
		/>
		<title>{title}</title>
		<link href={`${baseUrl}fonts/montserrat.css`} rel="stylesheet" />
		<ViewTransitions />
	</head>
	<body
		class="text-neutral-200 font-semibold min-h-screen w-screen bg-background-600 box-border flex flex-col overflow-x-hidden transition ease-in-out duration-150 relative z-0 text-sm sm:text-base"
	>
		<Header />

		<main class="flex-1 flex justify-center items-center">
			<slot />
		</main>

		<InfoTag />
		<SocialMediaPanel />
		<GreyPanel />

		<Glows cantSm={cantGlowsSm} cant={cantGlows} zIndex={-20} />

		<style is:global>
			/* @font-face {
				font-family: Geist;
				src:
					url("/fonts/Geist-Black.woff2") format("woff"),
					url("/fonts/Geist-Bold.woff2") format("woff"),
					url("/fonts/Geist-Light.woff2") format("woff"),
					url("/fonts/Geist-Medium.woff2") format("woff"),
					url("/fonts/Geist-Regular.woff2") format("woff"),
					url("/fonts/Geist-SemiBold.woff2") format("woff"),
					url("/fonts/Geist-Thin.woff2") format("woff"),
					url("/fonts/Geist-UltraBlack.woff2") format("woff"),
					url("/fonts/Geist-UltraLight.woff2") format("woff"),
					url("/fonts/GeistVariableVF.woff2") format("woff");
			} */
			::-webkit-scrollbar {
				width: 10px;
				height: 10px;
				background: #13151a;
				background-image: url("../icons/noisy.webp");
			}
			::-webkit-scrollbar-thumb {
				background: #d1d9dc;
				border-radius: 10px;
				border: 3px solid #13151a;
			}
			::-webkit-scrollbar-thumb:hover {
				background: #eeeef8;
			}
			::-webkit-scrollbar-corner {
				display: none;
			}

			main::after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background-image: url("../icons/noisy.webp");
				pointer-events: none;
				user-select: none;
			}
		</style>
	</body>
</html>
