---
import TimeLineEnding from "./TimeLineEnding.astro";
import TimeLineItem from "./TimeLineItem.astro";
import TimeLineItemMobile from "./TimeLineItemMobile.astro";
import TimeLineDot from "./TimeLineDot.astro";

interface Item {
    date: string;
    title: string;
    link: string;
}
interface Props {
    items: Item[];
}

const { items } = Astro.props;
---

<div class="hidden sm:grid grid-cols-11 mx-10">
    <TimeLineEnding />
    {
        items.map((item, ind) => (
            <TimeLineItem
                rounded_top={ind === 0}
                rounded_bottom={ind === items.length - 1}
                date={item.date}
                title={item.title}
                link={item.link}
            />
        ))
    }
    <TimeLineEnding desc />
</div>
<div class="w-full flex flex-col items-center justify-center sm:hidden">
    <TimeLineEnding />
    {
        items.map((item, ind) => {
            return ind === items.length - 1 ? (
                <TimeLineItemMobile
                    rounded_top={ind === 0}
                    rounded_bottom={ind === items.length - 1}
                    date={item.date}
                    title={item.title}
                    link={item.link}
                />
            ) : (
                <>
                    <TimeLineItemMobile
                        rounded_top={ind === 0}
                        rounded_bottom={ind === items.length - 1}
                        date={item.date}
                        title={item.title}
                        link={item.link}
                    />
                    <TimeLineDot />
                </>
            );
        })
    }
    <TimeLineEnding desc />
</div>
