---
import Button from "@/components/Button.astro";
import TextColor from "@/components/TextColor.astro";

interface Props {
    rounded_top?: boolean;
    rounded_bottom?: boolean;
    date: string;
    title: string;
    link: string;
}

const { rounded_top, rounded_bottom, date, title, link } = Astro.props;

let roundedTop = "";
let roundedBottom = "";
if (rounded_top) {
    roundedTop = "rounded-t-full";
}
if (rounded_bottom) {
    roundedBottom = "rounded-b-full";
}
---

{
    rounded_top ? (
        <>
            <div class="h-4">
                <div
                    class={`relative bg-background-200 w-1 h-full mx-5 z-10 ${roundedTop}`}
                />
            </div>
            <div class="h-4">
                <div
                    class={`relative bg-background-200 w-1 h-full mx-5 z-10`}
                />
            </div>
        </>
    ) : (
        <div class="h-4">
            <div class={`relative bg-background-200 w-1 h-full mx-5 z-10`} />
        </div>
    )
}

<div class="flex-1 flex items-center justify-center relative w-full px-10">
    <Button
        href={link}
        className="w-full"
        classNameText="w-full flex flex-col items-center py-6 px-8"
    >
        <TextColor
            className="text-xl sm:group-hover:text-background-100 group-active:text-background-100 transition duration-150 mb-2 w-auto text-center"
        >
            {title}
        </TextColor>
        <span class="text-lg w-max">
            {date}
        </span>
    </Button>
</div>

{
    rounded_bottom ? (
        <>
            <div class="h-4">
                <div
                    class={`relative bg-background-200 w-1 h-full mx-5 z-10`}
                />
            </div>
            <div class="h-4">
                <div
                    class={`relative bg-background-200 w-1 h-full mx-5 z-10 ${roundedBottom}`}
                />
            </div>
        </>
    ) : (
        <div class="h-4">
            <div class={`relative bg-background-200 w-1 h-full mx-5 z-10`} />
        </div>
    )
}
